PORT=3000

# Depuis Meta for Developers > ton app > WhatsApp > Démarrage rapide
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=

# Mot de passe arbitraire que tu choisis toi-même, à reporter dans la config du webhook Meta
VERIFY_TOKEN=
